@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.small-text {
  font-size: 12px;
}

.extra-small {
  font-size: 10px;
}
